
<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="creation-partie.component.css">
        <title>
            Bataille navale création partie
        </title>
        
    </head>

    <body>

        <p id="MessageId">
            id de la partie {{Id}}
        </p>
        
        <p>
            attente d'un autre joueur
        </p>

        <p>
            <a routerLink="/accueil">Retour</a>
        </p>
        
    </body>
</html>