
<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="accueil.component.css">
        <title>
            Bataille navale accueil
        </title>
        
    </head>

    <body>
        
        <h1 class = "titre">
            Bienvenu sur notre jeu de bataille navale !
        </h1>

        <p>
            Créer une partie : <br>
            <a routerLink="/creation_partie"><button>Création partie</button></a>
        </p>

        <p>
            Créer une partie : <br>
            <a routerLink="/rejoindre_partie"><button>Rejoindre une partie</button></a>
        </p>
        
    </body>
</html>